<% if @bps.any? %>
<h3> <%= @current_user.name %>, your current blood pressure readings are: </h3>
    <% @bps.each do |bp| %>
        <% if !bp.date.blank? %>
            <h5><strong><u> <%= bp.date %> </h5></strong></u>
            <% end %>
        <% if !bp.time.blank? %>
            <h5 style="text-indent: 40px"> Time: <%= bp.time %> </h5>
            <% end %>
        <% if !bp.systolic_reading.blank? && !bp.diastolic_reading.blank? %>
            <h5 style="text-indent: 40px"> Blood Pressure Reading: <%= bp.systolic_reading %>/<%= bp.diastolic_reading %></h5>
            <% end %>
        <% if !bp.pulse.blank? %>
            <h5 style="text-indent: 40px"> Pulse: <%= bp.pulse %> </h5>
            <% end %>
        <% if !bp.device_used.blank? %>
            <h5 style="text-indent: 40px"> Device Used: <%= bp.device_used %> </h5>
            <% end %>
        <% if !bp.site_used.blank? %>
            <h5 style="text-indent: 40px"> Site Used: <%= bp.site_used %> </h5>
            <% end %>
        <% if !bp.notes.blank? %>
            <h5 style="text-indent: 40px"> Notes: <%= bp.notes %> </h5>
            <% end %>
            <h5 style="text-indent: 40px"><a href="/bloodpressurereadings/<%= bp.id %>/edit">Edit this Blood Pressure Reading</a></h5>
    <% end %>

<% else %>
    <h2> <%= @current_user.name %>, you do not have any blood pressure readings logged at this time. </h2>
<% end %>
