<h2> <%= current_user.name %>, here is your blood pressure reading's information: </h2>
        <% if !@bp.date.blank? || !@bp.time.blank? %>
            <h3><strong> <%= Time.strptime("#{@bp.date}", "%Y-%m-%d").strftime("%m/%d/%Y") %> at <%= Time.strptime("#{@bp.time}", "%H:%M").strftime("%I:%M %p") %> </h3></strong>
            <% end %>
            <h4><a href='/bloodpressurereadings/<%= @bp.id %>/edit'>Edit BP Reading</a></h4><br>
        <% if !@bp.systolic_reading.blank? || !@bp.diastolic_reading.blank? %> 
            <h4 style="text-indent: 40px"> Blood Pressure Reading: <%= @bp.systolic_reading %> / <%= @bp.diastolic_reading %> </h4>
            <% end %>
        <% if !@bp.pulse.blank? %>
            <h4 style="text-indent: 40px"> Pulse: <%= @bp.pulse %></h4>
            <% end %>
        <% if !@bp.device_used.blank? %>
            <h4 style="text-indent: 40px"> Device Used: <%= @bp.device_used %> </h4>
            <% end %>
        <% if !@bp.site_used.blank? %>
            <h4 style="text-indent: 40px"> Site Used: <%= @bp.site_used %> </h4>
            <% end %>
        <% if !@bp.notes.blank? %>
            <h4 style="text-indent: 40px"> Notes: <%= @bp.notes %> </h4>
            <% end %>

        

