<% if logged_in? %>
<br>
    <form style="float:right; margin:0px 15px 15px 0px" action="/users/<%= current_user.username %>" method="get">
    <input type="submit" value="Return to Homepage">
    </form>
<% end %>

<h2> <%= current_user.name %>, here is your blood pressure reading's information: </h2>
        <% if !@bp.date.blank? || !@bp.time.blank? %>
            <h3><strong><u> <%= @bp.date %> at <%= @bp.time %> </h3></strong></u>
            <% end %>
            <h4><a href='/bloodpressurereadings/<%= @bp.id %>/edit'>Edit Blood Pressure Reading</a></h4>
            <br>       
        <% if !@bp.systolic_reading.blank? || !@bp.diastolic_reading.blank? %> 
            <h4 style="text-indent: 40px"> Blood Pressure Reading: <%= @bp.systolic_reading %> / <%= @bp.diastolic_reading %> </h4>
            <% end %>
        <% if !@bp.pulse.blank? %>
            <h4 style="text-indent: 40px"> Pulse: <%= @bp.pulse %></h4>
            <% end %>
        <% if !@bp.device_used.blank? %>
            <h4 style="text-indent: 40px"> Device Used: <%= @bp.device_used %> </h4>
            <% end %>
        <% if !@bp.site_used.blank? %>
            <h4 style="text-indent: 40px"> Site Used: <%= @bp.site_used %> </h4>
            <% end %>
        <% if !@bp.notes.blank? %>
            <h4 style="text-indent: 40px"> Notes: <%= @bp.notes %> </h4>
            <% end %>

        

