<h2>Welcome, <%= @user.name %>!</h2>
<br>
<h3>Which page would you like to visit?</h3>
<br>
<a style="text-decoration: none" href="/medications/<%= @user.username %>/all">&#9830; Manage your Medication Log</a><br><br>
<a style="margin-left: 40px; text-decoration: none;" href="/physicians/<%= @user.username %>/all">&#9830; Physician Information</a><br><br>
<a style="margin-left: 40px; text-decoration: none;" href="/pharmacies/<%= @user.username %>/all">&#9830; Pharmacy Information</a><br><br>
<a style="text-decoration: none" href="/bloodpressurereadings/<%= @user.username %>/all">&#9830; Manage your Blood Pressure Log</a>
<br>

<form style="float:right; margin:0px 15px 15px 0px" action="/users/<%= @user.username %>/edit" method="get">
  <input type="submit" value="Edit Account Information">
</form>
<form style="float:right; margin:0px 15px 15px 0px" action="/users/<%= @user.username %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Account">
</form>
<br>