<br>
<form action="/users/<%= current_user.username %>" method="get">
<input type="submit" value="&#8678; Return to Homepage">
</form>
<br>
<form action="/medications/<%= current_user.username %>/all" method="get">
<input type="submit" value="&#8678; Back to all Medications">
</form>
<br><br>

<h2> <%= current_user.name %>, here is your medication's information: </h2>
        <% if !@med.name.blank? %>
            <h3><strong> <%= @med.name %> </h3></strong>
            <% end %>
            <h4><a href='/medications/<%= @med.id %>/edit'>Edit Medication</a></h4><br>
            <% if @med.physician_id.blank? %>
            <form style="float:right; margin:0px 15px 15px 0px" action="/physicians/<%= @med.id %>/new" method="get">
            <input type="submit" value="Add a Physician to this Medication">
            </form>
            <% else %>
            <form style="float:right; margin:0px 15px 15px 0px" action="/physicians/<%= @med.id %>/new" method="get">
            <input type="submit" value="Change Physician for this Medication">
            </form>
            <% end %>
            <% if @med.pharmacy_id.blank? %>
            <form style="float:right; margin:0px 15px 15px 0px" action="/pharmacies/<%= @med.id %>/new" method="get">
            <input type="submit" value="Add a Pharmacy to this Medication">
            </form>
            <% else %>
            <form style="float:right; margin:0px 15px 15px 0px" action="/pharmacies/<%= @med.id %>/new" method="get">
            <input type="submit" value="Change Pharmacy for this Medication">
            </form>
            <% end %>
        <% if !@med.dose.blank? %> 
            <h4 style="text-indent: 40px"> Dose: <%= @med.dose %> <%= @med.form %>, <%= @med.route %></h4>
            <% end %>
        <% if !@med.time_to_be_taken.blank? %>
            <h4 style="text-indent: 40px"> Time to be taken: <%= @med.time_to_be_taken %></h4>
            <% end %>
        <% if !@med.category.blank? %>
            <h4 style="text-indent: 40px"> Category: <%= @med.category %> </h4>
            <% end %>
        <% if !@med.prescription_number.blank? %>
            <h4 style="text-indent: 40px"> Prescription Number: <%= @med.prescription_number %> </h4>
            <% end %>
        <% if !@med.date_filled.blank? %>
            <h4 style="text-indent: 40px"> Date Filled: <%= @med.date_filled %> </h4>
            <% end %>
        <% if !@med.refill_date.blank? %>
            <h4 style="text-indent: 40px"> Refill Date: <%= @med.refill_date %> </h4>
            <% end %>
        <% if !@med.discard_or_expiration_date.blank? %>
            <h4 style="text-indent: 40px"> Discard or Expiration Date: <%= @med.discard_or_expiration_date %> </h4>
            <% end %>
        <% if !@med.side_effects.blank? %>
            <h4 style="text-indent: 40px"> Side Effects: <%= @med.side_effects %> </h4>
            <% end %>
        <% if !@med.notes.blank? %>
            <h4 style="text-indent: 40px"> Notes: <%= @med.notes %> </h4>
            <% end %>
            <br>
        <% if !@med.physician_id.blank? %>
            <h4> Medication's Physician: <%= @med.physician.name %></h4>  
            <h4><a href="/physicians/<%= @med.physician_id %>/edit">Edit Physician's Information</a></h4>
            <% end %>     
            <br> 
        <% if !@med.pharmacy_id.blank? %>
            <h4>Medication's Pharmacy: <%= @med.pharmacy.name %></h4>  
            <h4><a href="/pharmacies/<%= @med.pharmacy_id %>/edit">Edit Pharmacy's Information</a></h4>
            <% end %> 
    

        

