<!DOCTYPE html>
  <head>

    <title>MedicationBloodPressureLogger</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <div class="wrapper">

    <h1><center><strong><u> Medication and Blood Pressure Logger </h1></center></strong></u>
    <br>

    <% flash.keys.each do |type| %>
      <div data-alert class="flash <%= type %> alert-box radius">
        <%= flash[type] %>
      </div>
    <% end %>

    <% if logged_in? %>

    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    body {
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
    }
    
    .topnav {
      overflow: hidden;
      background-color: #333;
    }
    
    .topnav a {
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }
    
    .topnav a:hover {
      background-color: #ddd;
      color: black;
    }
    
    .topnav a.active {
      background-color: rgb(29, 167, 212);
      color: white;
    }
    </style>
    </head>
    <body>
  
    <div class="topnav">
      <a class="active" href="/users/<%= current_user.username %>">Homepage</a>
      <a href="/medications/<%= current_user.username %>/all">Medications</a>
      <a href="/physicians/<%= current_user.username %>/all">Physicians</a>
      <a href="/pharmacies/<%= current_user.username %>/all">Pharmacies</a>
      <a href="/bloodpressurereadings/<%= current_user.username %>/all">Blood Pressure Readings</a>
      <a></a>
      <a></a>
      <a></a>
      <a></a>
      <a></a>
      <a href="/users/<%= current_user.username %>/logout">Logout</a>
    </div>
    <br>
    </body>
    
    <% end %>

        <%= yield %>


        <footer class="branding">
        <small>&copy; 2021 <strong>MedicationBloodPressureLogger made with &#9829 by Blaire Grant</strong></small>
      </footer>
    </div>
  </body>
</html>
